body {
	background: black;
	font-family: "Lemonada", cursive;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	padding: 10px 0px 0px 10px;
}

.postcard-header h1 {
	width: 330px;
	margin: 0px;
	font-size: x-large;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-body {
	display: flex;
	font-size: 11.5px;
	line-height: 22px;
	margin-left: 5px;
}

.body-left p:first-child {
	margin-top: 0px;
	width: 200px;
}

.body-left,
.body-right {
	padding: 3px;
}

input {
	border: none;
	border-bottom: gray 1px solid;
	font-family: "Lemonada", cursive;
	font-size: 11px;
	height: 25px;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: rgb(190, 189, 189);
	padding: 2px;
	border: none;
	border-bottom: gray 1px solid;
	font-family: "Lemonada", cursive;
	font-size: 11.5px;
}
